<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sdks" name="SDK extension" schema="schema/sdks.exsd"/>
   <extension-point id="updater" name="Projects updater for SDK" schema="schema/updater.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.freescale.s32ds.cross.sdk.ui.SDKExplorer"
            id="com.freescale.s32ds.cdt.sdk.ui.Explorer"
            name="%SDKExplorer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.freescale.s32ds.cross.sdk.ui.SDKPropertyPage"
            id="com.freescale.s32ds.cdt.sdk.properties.sdkManagementPage"
            name="%PropertyPage.name">
         <enabledWhen>
            <and>
                <or>
                    <instanceof
                        value="org.eclipse.core.resources.IProject">
                    </instanceof>
                    <instanceof
                        value="org.eclipse.cdt.core.model.ICProject">
                    </instanceof>
                </or>
                <adapt type="org.eclipse.core.resources.IProject">    
                   <test
                      property="org.eclipse.core.resources.open"
                      value="open">
                   </test>
                </adapt>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.cdt.ui.CPerspective">
         <view
               id="com.freescale.s32ds.cdt.sdk.ui.Explorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.freescale.s32ds.cross.sdk.ui.SDKPreferencePage"
            id="com.freescale.s32ds.cdt.sdk.preferences.sdkManagementPage"
            name="%PreferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.freescale.s32ds.cross.sdk.SDKSupportPlugin">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.freescale.s32ds.cross.sdk.support.properties"
               label="%PropertyPage.name"
               style="push">
            <visibleWhen>
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                     </or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.open"
                              value="open">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
    <extension point="com.freescale.s32ds.cross.sdk.support.sdks">
      <sdk	version="1.0.0"
			name="dungtp2_gcc_GIT"
            description="Test SDK loaded from GIT FOR GCC"
            internalPath="false"
			cores="MPC5602B:Z0,MPC5603B:Z0,MPC5604B:Z0,MPC5605B:Z0,MPC5606B:Z0,MPC5607B:Z0,MPC5646C:Z0,MPC5646C:Z4"
			symbols="" 
           toolchains="com.freescale.s32ds.cross.gnu.e200.toolChain"
            gitBranch="master"
            gitPath="https://github.com/dungtp2/b54189_e200.git">
         <resourceFile
               copy="false"
               path="/main.c">
         </resourceFile>
         <binaryFile
               copy="false"
               path="/libmylibrary_Z4.a">
         </binaryFile>
		 <headerFolder
				path="/include"
				copy="false">
		</headerFolder>
      </sdk>
      <sdk	version="1.0.0"
			name="dungtp2_ghs_GIT"
            description="Test SDK loaded from GIT FOR GHS"
            internalPath="false"
			cores="MPC5602B:Z0,MPC5603B:Z0,MPC5604B:Z0,MPC5605B:Z0,MPC5606B:Z0,MPC5607B:Z0,MPC5646C:Z0,MPC5646C:Z4"
			symbols="" 
            toolchains="ghs.managedmake.ppc.executable.toolchain" 
            gitBranch="master"
            gitPath="https://github.com/dungtp2/b54189_e200.git">
         <resourceFile
               copy="false"
               path="/main.c">
         </resourceFile>
         <binaryFile
               copy="false"
               path="/libmylibrary_Z4.a">
         </binaryFile>
		 <headerFolder
				path="/include"
				copy="false">
		</headerFolder>
      </sdk>
   </extension>   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.freescale.s32ds.cross.sdk.ui.internal.SDKSupportPropertiesHandler"
            commandId="com.freescale.s32ds.cross.sdk.support.properties">
      </handler>
   </extension>
</plugin>
